<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<!--Navighatie balk voor de pagina's, let op we gebruiken url_for dit houdt de pagina dynamisch en is beter dan de html page hardcoden-->
<body>
  <nav class="navbar">
    <ul class="nav-links">
      <li><a href="{{ url_for('about') }}">About Me</a></li>
      <li><a href="{{ url_for('contact') }}">Contact</a></li>
      <li><a href="{{ url_for('projects') }}">Projects</a></li>
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
  </nav>
  <!--about me class wordt hergebruikt voor spacing van de text-->
    <h1>Contact</h1>
    <div class="aboutme"><!--bedankje en verdere info-->
      <P>Ten eerste wil ik men bedanken in de interesse voor mijn projecten en mijn skills.<br /> verder op deze pagina is mijn contact informatie te vinden. Wil je graag een vraag stellen of meer weten stuur mij een mail of eventueel bel mij.</P>
    </div>
    <section id="contacts" class="contacts">
      <div class="contact"><!--contact info telefoon-->
          <h3><a href="tel:+31615111766">Telefoon</a></h3>
          <p>+31 6 15111766</p>
      </div>
      <div class="contact"><!--conatct info email met gebruik van mailto waardoor je je eigen mailprogramma opent-->
          <h3><a href= "mailto:T.h.van.houten@outlook.com">Email</a></h3>
          <p>T.h.van.houten@outlook.com</p>
      </div>
    </section>
    <div class="aboutme"> <!--verder links/info naar websites-->
      <P>Hieronder vind men meer informatie over systemen die gebruikt zijn tijdens de projecten en informatie over NHL Stenden</P>
    </div>
    <section id="contacts" class="contacts">
      <div class="contact">
          <h3><a href="https://www.solidworks.com/">Solidworks</a></h3>
          <p>Solidworks is het programma wat gebruikt is voor alle 3d ontwerpen voor de projecten, en verdere simulaties zoals krachtberekeningen</p>
      </div>
      <div class="contact">
          <h3><a href="https://www.nhlstenden.com/">NHL Stenden</a></h3>
          <p>NHL Stenden is het instituut waar ik mijn opleiding volg, voor verdere informatie kan je hier meer weten</p>
      </div>
    </section>
</body>
</html>
