<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <nav class="navbar">
    <!--Navighatie balk voor de pagina's, let op we gebruiken url_for dit houdt de pagina dynamisch en is beter dan de html page hardcoden-->
    <ul class="nav-links">
      <li><a href="{{ url_for('about') }}">About Me</a></li>
      <li><a href="{{ url_for('contact') }}">Contact</a></li>
      <li><a href="{{ url_for('projects') }}">Projects</a></li>
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
  </nav>
        <!--projecten uit database weergeven op de pagina met de aangegeven tags-->
      <h1>Projects</h1>
      <form method="post">
          <div class="filter-bar">
              <label><input type="checkbox" name="tags" value="3dprinting" {% if '3dprinting' in selected_tags %}checked{% endif %}> 3D Printing</label>
              <label><input type="checkbox" name="tags" value="physics" {% if 'physics' in selected_tags %}checked{% endif %}> Physics</label>
              <label><input type="checkbox" name="tags" value="management" {% if 'management' in selected_tags %}checked{% endif %}> Management</label>
              <button type="submit">Filter</button>
          </div>
      </form>
        <!--data uit database halen op de positie waar ze zitten dus titel is 1 en enzv, en weergeven van de data op de html page-->
      <div class="projects-container">
          {% for project in projects %}
          <div class="project-card">
              <h2>{{ project[1] }}</h2>
              <p class="aboutmetext">{{ project[2] }}</p>
              {% if project[3] %}
              <img src="{{ url_for('static', filename=project[3]) }}" alt="{{ project[1] }}">
              {% endif %}
              <p><strong>Tags:</strong> {{ project[4] }}</p>
          </div>
          {% endfor %}
      </div>
</body>
</html>